*{
    padding: 0px;
    margin: 0px;
}

/* navbar */

#logo{
    width: 180px;
    height: 80px;
    padding: 0px;
    
}
#link-logo{
    padding: 0px;
}
.navbar-menu{
    margin-left: 0px;
}
.container-menu{
    margin-left: 40px;
    align-items: flex-end;
    text-align: center;
}
.nav-link:hover{
    background-color: forestgreen;
}
ul li a{
    color: black !important;
    border-radius: 20px;
}
.navbar-menu{
    border-bottom: 2px solid green;
}
.ultimo{
    margin-left: 40px;
}

/* body */

.titulo{
    justify-content: center;
    font-style: italic;
    color: forestgreen;
}